*{
    margin: 0;
    padding: 0;
    background-color: black;
  
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: black;
    color:  rgb(206, 206, 102);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.movie-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 27rem;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    max-width: 200px;
    max-height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    filter: contrast(130%);
}
button {
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(206, 206, 102);
    color: black;
    cursor: pointer; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
input{
    margin-bottom: 10px;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: border-color 0.2s;
}

.movie_details {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  gap: 20px; /* Space between elements */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center the content */
  margin: 5rem 10rem; /* Center in the middle */
  padding: 20px;
  border-radius: 10px;
  border: 4px solid  rgb(206, 206, 102);
  background: black;
}

.movie_details_content {
  flex: 1;
  text-align: left;
}

.movie_details h1 {
  font-size: 2rem;
  color: white;
}

.movie_details p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: white;
}

.movie_details h3 {
  color:  rgb(206, 206, 102);
}

.movie_details iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 10px;
}

.movie_details button {
  margin-top: 20px;
  padding: 10px 15px;
  background:  rgb(206, 206, 102);
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.movie_details button:hover {
  background:  rgb(206, 206, 102);
  cursor: pointer;
  color: black;
}
